@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff");
}

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/OpenSans-Light.woff");
}

@font-face {
  font-family: "OpenSans Bold";
  src: url("../fonts/OpenSans-Bold.woff");
}

@font-face {
  font-family: "OpenSans SemiBold";
  src: url("../fonts/OpenSans-SemiBold.woff");
}

.header {
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.header__nav li a {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
}

.section-main {
  background-color: black;
  background-image: url(../img/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.section-main__girls {
  position: relative;
  width: 950px;
  margin: 0 auto;
}

.button {
  width: 100%;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  cursor: pointer;
}

.button span {
  font-family: OpenSans SemiBold;
}

.absoluteimg {
  position: absolute;
  bottom: 0;
  z-index: 4;
}

.girl1 {
  left: 0%;
}

.girl2 {
  right: -3%;
  bottom: -7%;
}

.main {
  position: relative;
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin: 0 auto;
  padding: 20px 0px 30px 0px;
  position: relative;
}

.main__buttons .button:nth-child(2) {
  margin: 15px 0px 0px 0px;
}

.main__discount {
  width: 100%;
  text-align: center;
  padding: 25px 0 0 0;
}

.main__discount p {
  font-family: OpenSans;
  font-size: 18px;
  text-transform: uppercase;
}

.main__discount p span {
  font-family: OpenSans Bold;
  font-size: 36px;
  text-transform: lowercase;
  margin: 0px 0px 0px 0px;
  display: inline-block;
}

.main__discount p span .cost {
  font-size: 48px;
}

.main__h1 {
  width: 100%;
  padding: 30px 0px 0px 0px;
  text-align: center;
}

.main__h1 h1 {
  font-family: OpenSans Light;
  font-size: 24px;
}

.main__logo {
  width: 100%;
  text-align: center;
  padding: 0px 0px 25px 0px;
}

.main__logo span {
  font-family: OpenSans Bold;
  font-size: 54px;
}

.main h1,
.main h2,
.main span,
.main a,
.main p {
  color: white;
}

.line {
  width: 100%;
  height: 3px;
  background: white;
  margin: 0 auto;
}

.section-info {
  padding: 40px 0px 0px 0px;
}

.h2 {
  text-align: center;
}

.h2 h2 {
  font-size: 36px;
  color: black;
  text-transform: uppercase;
  font-family: OpenSans Bold;
}

.underline {
  width: 90px;
  height: 3px;
  background: black;
  margin: 25px auto;
}

.info__text {
  text-align: center;
}

.info__text p {
  font-size: 16px;
  color: black;
  font-family: OpenSans;
  line-height: 200%;
}

.section-photos {
  margin: 10px 0px 0px 0px;
  overflow: hidden;
}

.photo__elem {
  height: 320px;
}

.slick-slide img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-table {
  padding: 40px 0px 90px 0px;
}

.section-table .container {
  padding: 0 10px;
}

.table-wrap {
  padding: 30px 0;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

.table {
  width: 94%;
  margin: auto;
  border-collapse: collapse;
}

.table thead tr {
  background: #f3f3f3;
}

.table thead tr th:first-child {
  width: 25%;
  padding: 0px 0px 0px 30px;
  text-align: left;
}

.table thead tr th:not(:first-child) {
  width: 12.5%;
  text-align: center;
  height: 40px;
}

.table tbody tr th:first-child {
  text-align: left;
  padding: 0px 0px 0px 30px;
}

.table tbody tr:nth-child(2n) {
  background: #f3f3f3;
}

.table tr td {
  width: 12.5%;
  text-align: center;
  height: 40px;
  font-family: OpenSans;
  font-size: 14px;
  border: 0;
}

.table tr th {
  font-family: OpenSans Bold;
  font-size: 14px;
  border: 0;
  height: 40px;
}

.section-catalog {
  padding: 0px 0px 90px 0px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
}

.cards__elem {
  width: 100%;
  padding: 0 0 0 0px;
  margin: 0px 0px 20px 0px;
}

.cards.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__body {
  padding: 30px 0px 0px 0px;
}

.switch {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 35px;
  background: #f3f3f3;
  font-family: OpenSans;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
}

.switch_active {
  background: #ba0152;
  color: white;
}

.card {
  border: 1px solid gray;
}

.card__img {
  height: 350px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.card__discount {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: #b4014e;
  color: white;
  font-family: OpenSans Bold;
  font-size: 20px;
}

.card__body {
  padding: 0px 0px 10px 0px;
}

.card__title {
  height: 45px;
  font-family: OpenSans Bold;
  font-size: 18px;
}

.card__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 0px 0px;
}

.card__cost > div:nth-child(1) {
  margin: 0px 20px 0px 0px;
}

.card__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__colors > div {
  margin: 0px 10px 0px 0px;
}

.gradient-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 60px;
  margin: 10px auto;
  background: -webkit-gradient(linear, left bottom, left top, from(#4875e6), to(#8d55e9));
  background: -o-linear-gradient(bottom, #4875e6, #8d55e9);
  background: linear-gradient(to top, #4875e6, #8d55e9);
  border-radius: 5px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.gradient-button span {
  text-transform: uppercase;
  font-family: OpenSans SemiBold;
  font-size: 18px;
  color: white;
}

.gradient-button.active {
  border-bottom: unset;
}

.proportions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
}

.proportions__elem {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-family: OpenSans;
  text-transform: uppercase;
}

.proportions__elem_exist {
  color: black;
}

.proportions__elem_noexist {
  color: #ceced3;
}

.color {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.red {
  background: #ff0000;
}

.black {
  background: black;
}

.cost_wrong {
  font-family: OpenSans;
  font-size: 24px;
  text-decoration: line-through;
  color: #8c8c8c;
}

.cost_true {
  font-family: OpenSans Bold;
  font-size: 30px;
  text-decoration: unset;
  color: #b4014e;
}

.section-order {
  padding: 50px 0px 120px 0px;
}

.section-order .h2 h2 {
  font-size: 36px;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0px 0px 0px;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order__elem {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-info__img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: #b4014e;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 0px 0px 6px #d5799f;
          box-shadow: 0px 0px 0px 6px #d5799f;
  margin: 0px 0 50px 0px;
}

.card-info__text {
  font-family: OpenSans;
  font-size: 16px;
  color: black;
  text-align: center;
  min-height: 100px;
  overflow: hidden;
  width: 50%;
}

.card-info:nth-child(1) .card-info__img {
  background-image: url(../img/icon1.png);
}

.card-info:nth-child(2) .card-info__img {
  background-image: url(../img/icon2.png);
}

.card-info:nth-child(3) .card-info__img {
  background-image: url(../img/icon3.png);
}

.card-info:nth-child(4) .card-info__img {
  background-image: url(../img/icon4.png);
}

.circles {
  position: absolute;
  width: 100%;
  bottom: 40%;
}

.circles .progress {
  width: 100%;
  margin: auto;
  text-align: center;
}

.circles .progress .circle {
  display: inline-block;
  background: #ceced3;
  width: 10px;
  height: 10px;
  border-radius: 40px;
  border: 1px solid #ceced3;
}

.circles .progress .bar {
  display: inline-block;
  position: relative;
  width: 24%;
  height: 1px;
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin: 0px -5px 5px -5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ceced3), color-stop(75%, #ceced3), color-stop(75%, transparent), to(transparent));
  background-image: -o-linear-gradient(left, #ceced3, #ceced3 75%, transparent 75%, transparent 100%);
  background-image: linear-gradient(90deg, #ceced3, #ceced3 75%, transparent 75%, transparent 100%);
  background-size: 3px 1px;
  border: none;
}

.circles .progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}

.circles .progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}

.circles .progress .bar.done,
.circles .progress .circle.done {
  background: #bf4747;
}

.circles .progress .bar.active {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #EEE), color-stop(60%, #FFF));
  background: -o-linear-gradient(left, #EEE 40%, #FFF 60%);
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}

.circles .progress .circle.done .label {
  color: #FFF;
  background: #8bc435;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.circles .progress .circle.done .title {
  color: #444;
}

.circles .progress .circle.active .label {
  color: #FFF;
  background: #0c95be;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.circles .progress .circle.active .title {
  color: #0c95be;
}

.modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in;
  -o-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  margin: 0;
  padding: 0;
}

.modal-wrap {
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.modal-wrap.active {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in;
  -o-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

.modal {
  width: 640px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  margin-top: -10%;
  z-index: 1001;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.modal-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-block__left {
  width: 50%;
  background: url(../img/modal.jpg);
}

.modal-block__right {
  width: 50%;
  padding: 30px 20px 10px 20px;
}

.modal-block__title {
  text-align: center;
  font-family: OpenSans Bold;
  font-size: 18px;
}

.modal-block__costs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-block__costs > div:nth-child(2) {
  margin: 0px 0px 0px 20px;
}

.modal-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-block__form select,
.modal-block__form input {
  height: 45px;
  text-align: center;
  border: 1px solid gray;
  margin: 10px 0px 0px 0px;
  background: white;
  font-family: OpenSans;
  font-size: 16px;
}

.modal-block__form .gradient-button {
  width: 100%;
}

.modal-block__form select:focus,
.modal-block__form input:focus {
  outline: 0;
  border-color: #ba0152;
}

.modal-block__form select::-webkit-input-placeholder, .modal-block__form input::-webkit-input-placeholder {
  font-family: OpenSans;
  font-size: 16px;
  color: gray;
}

.modal-block__form select::-moz-placeholder, .modal-block__form input::-moz-placeholder {
  font-family: OpenSans;
  font-size: 16px;
  color: gray;
}

.modal-block__form select:-ms-input-placeholder, .modal-block__form input:-ms-input-placeholder {
  font-family: OpenSans;
  font-size: 16px;
  color: gray;
}

.modal-block__form select::-ms-input-placeholder, .modal-block__form input::-ms-input-placeholder {
  font-family: OpenSans;
  font-size: 16px;
  color: gray;
}

.modal-block__form select::placeholder,
.modal-block__form input::placeholder {
  font-family: OpenSans;
  font-size: 16px;
  color: gray;
}

*,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1em;
  font-family: "OpenSans";
  background: #FFF;
}

html,
body {
  min-width: 320px;
  margin: 0;
}

html {
  height: auto;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

a {
  text-decoration: unset;
}

h1,
h2,
h3,
h4,
p,
span,
a {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  line-height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  z-index: 5;
  position: relative;
  padding: 0 10px;
}

ul,
dl,
ol,
nav {
  list-style-type: none;
}

.middle {
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.columncenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rowcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 640px) {
  .section-main {
    background-image: url(../img/back2.jpg);
    background-size: cover;
  }

  .main__buttons {
    padding: 20px 0px 70px 0px;
  }

  .main__logo span {
    font-size: 57px;
  }

  .cards__elem {
    width: 50%;
  }

  .order__elem {
    width: 50%;
  }

  .container {
    width: 320px;
    padding: 0px 0px 0px 0px;
  }
}

@media screen and (min-width: 960px) {
  .section-main {
    background-image: url(../img/back3.jpg);
  }

  .button {
    width: 260px;
  }

  .main__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0px 125px 0px;
  }

  .main__buttons .button:nth-child(2) {
    margin: 0px 0px 0px 0px;
  }

  .main__discount p span {
    margin: 5px 0px 0px 0px;
  }

  .main__discount p {
    font-size: 24px;
  }

  .main__discount {
    padding: 40px 0 0 0;
  }

  .main__h1 h1 {
    font-size: 34px;
  }

  .main__logo span {
    font-size: 82px;
  }

  .line {
    width: 460px;
  }

  .catalog__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .container {
    width: 640px;
  }
}
@media screen and (max-width: 1279.98px) {
  .circles {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }

  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .section-main {
    background-image: url(../img/back.jpg);
    background-position: top;
  }

  .main__buttons {
    width: 55%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 0px 125px 0px;
  }

  .main__discount p span {
    font-size: 20px;
  }

  .main__h1 {
    padding: 90px 0px 0px 0px;
  }

  .cards__elem {
    width: 33%;
    padding: 0 0 0 20px;
  }

  .card__img {
    background-repeat: no-repeat;
    background-size: uset;
    background-position: unset;
  }

  .gradient-button {
    width: 260px;
  }

  .section-order .h2 h2 {
    font-size: 60px;
  }

  .order__elem {
    width: 25%;
  }

  .card-info__text {
    width: auto;
  }

  .container {
    width: 960px;
  }
}

@media screen and (max-width: 1279.98px) {
  .section-main__girls {
    width: auto;
  }

  .girl1 {
    display: none;
  }

  .girl2 {
    display: none;
  }

  .section-info .container {
    width: auto;
    padding: 0px 20px;
  }

  .section-table .container {
    width: auto;
    padding: 0px 20px;
  }

  .section-catalog .container {
    width: auto;
    padding: 0px 20px;
  }

  .section-order .container {
    width: auto;
    padding: 0px 20px;
  }
}

@media screen and (max-width: 700px) {
  .modal {
    width: 80%;
  }

  .modal-block__left {
    display: none;
  }

  .modal-block__right {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .section-table .table-wrap {
    overflow-x: scroll;
  }

  .section-catalog {
    margin: 40px 0px 0px 0px;
  }
}